<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/index.css') }}"
    />

    <title>Document</title>
  </head>
  <body>
    <form action="/download_video" method="post" class="form-container">
      <input name="video_url" required placeholder="Enter YouTube URL: " />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
